<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>View cart</h1>

    {% for key, value in cart.items %}
      {% for k, v in value.items %}
        {% if k == "product_name" %}
          <p>{{v}}</p>
        {% endif %}
        {% if k == "quantity" %}
        <h2>{{v}}</h2>
        {% endif %}
        {% if k == "image" %}
        <img class="img-fluid" src="{{v}}" alt="">
        {% endif %}
      {% endfor %}
    {% endfor %}

    <a href="{% url 'index' %}">back to index</a>

</body>

</html>