<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>View cart</h1>

  {% for key, value in cart.items %}
  {% for k, v in value.items %}
  {% if k == "product_name" %}
  <h2>Product name: {{v}}</h2>
  {% endif %}
  {% if k == "quantity" %}
  <h3>Quantity ordered: {{v}}</h3>
  {% endif %}
  {% if k == "price" %}
  <h3>Unit price: {{v}}</h3>
  {% endif %}
  {% if k == "image" %}
  <img class="img-fluid" src="{{v}}" alt="">
  {% endif %}
  {% endfor %}
  <hr>
  {% endfor %}

   <h1>Total Charge: €{{total}}</h1>

  <a href="{% url 'index' %}">back to index</a>

</body>

</html>